// NAVBAR
nav {
    border-bottom: 2px $whitish solid;
    padding: 0px 40px !important;

    li {
        margin: 20px;
        font-size: 18px;

        a {
            text-transform: uppercase;
        }
    }
}


.container-fluid {
    a {
        font-family: font-main, serif;
        font-weight: 800;
    }
}

.navbar-nav {

    .nav-link.active, .nav-link.show {
        color: $maincolor;
        font-size: 18px;
    }
}

// FOOTER
footer {
    font-size: 12px;
    padding: 20px;
    border-top: 1px solid $whitish;
}